In [1]:
import pandas as pd
df = pd.read_parquet("../data/processed/aemet/0200E_daily.parquet")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16438 entries, 0 to 16437
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       16438 non-null  datetime64[ns]
 1   indicativo  1 non-null      object
 2   nombre      1 non-null      object
 3   provincia   1 non-null      object
 4   altitud     1 non-null      float64
 5   tmed        333 non-null    float64
 6   tmin        319 non-null    float64
 7   tmax        360 non-null    float64
 8   prec        428 non-null    float64
 9   racha       121 non-null    float64
 10  sol         277 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(3)
memory usage: 1.4+ MB
None
       fecha indicativo            nombre  provincia  altitud  tmed  tmin  \
0 1980-01-01      0200E  BARCELONA, FABRA  BARCELONA    408.0   7.2   3.2
1 1980-01-02       None              None       None      NaN   6.8   3.8
2 1980-01-03       None              None       None      NaN   5.3   3.0
3 1980-01-04       None              None       None      NaN   7.1   2.6
4 1980-01-05       None              None       None      NaN   6.4   NaN

   tmax  prec  racha  sol
0  11.2   0.0    5.8  5.5
1   9.8   NaN    6.7  5.0
2   7.6   NaN    3.3  7.2
3  11.6   NaN    NaN  9.2
4   9.1   NaN    6.1  5.4